<div class="header">
    <b class="title">Skills</b>
    <mat-divider></mat-divider>
    <mat-icon class="header-image">code</mat-icon>
</div>
<div class="outer-chips">
    <div class="chip-section">
        <h3 class="chip-title">Languages</h3>
        <mat-chip-list>
            <mat-chip color="primary" selected>Python</mat-chip>
            <mat-chip color="primary" selected>TypeScript</mat-chip>
            <mat-chip color="primary" selected>Java</mat-chip>
            <mat-chip>Swift</mat-chip>
            <mat-chip>C++</mat-chip>
            <mat-chip>Scala</mat-chip>
        </mat-chip-list>
    </div>
    <div class="chip-section">
        <h3 class="chip-title">Libraries / Frameworks</h3>
        <mat-chip-list>
            <mat-chip color="primary" selected>Angular</mat-chip>
            <mat-chip color="primary" selected>Node</mat-chip>
            <mat-chip color="primary" selected>Spark</mat-chip>
            <mat-chip>NPM</mat-chip>
            <mat-chip>TensorFlow</mat-chip>
            <mat-chip>OpenCV</mat-chip>
        </mat-chip-list>
    </div>
    <div class="chip-section">
        <h3 class="chip-title">Tools</h3>
        <mat-chip-list>
            <mat-chip color="primary" selected>Git</mat-chip>
            <mat-chip color="primary" selected>Android / IOS SDK</mat-chip>
            <mat-chip color="primary" selected>GCP</mat-chip>
            <mat-chip>AWS</mat-chip>
            <mat-chip>Firebase</mat-chip>
            <mat-chip>Docker</mat-chip>
        </mat-chip-list>
    </div>
</div>
<div class="header">
    <b class="title">Work Experiences </b>
    <i class="mat-hint">(
        <u><a href="../assets/Resume.pdf" target="_blank">view resume</a></u>
        for more details)
    </i>
    <mat-divider></mat-divider>
    <mat-icon class="header-image">engineering</mat-icon>
</div>
<div class="outer-work">
    <img src="../../assets/work/aws.png" height="50">
    <img src="../../assets/work/klyck.webp" height="50">
    <img src="../../assets/work/uw.png" height="75">
    <img src="../../assets/work/linamar.png" height="50">
</div>

<div class="header">
    <b class="title">Projects</b>
    <mat-divider></mat-divider>
    <mat-icon class="header-image">laptop_mac</mat-icon>
</div>
<div class="outer">

    <mat-card *ngFor="let project of sideProjects" class="item" (click)="openDialog(project)">
        <mat-card-title>{{ project.title }}</mat-card-title>

        <img *ngIf="project.subtitle == 'EnactusHacks' || project.subtitle == 'UWEnergyHacks'" src='../../../assets/sideProjects/trophy.png' class="banner">
        
        <div class="subtitle">
            <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
            <i>
                <mat-card-subtitle>{{ project.date }}</mat-card-subtitle>
            </i>
        </div>

        <img mat-card-image [src]="project.picture">
    </mat-card>
</div>

<div class="header">
    <b class="title">Athletics</b>
    <mat-divider></mat-divider>
    <mat-icon class="header-image">sports_tennis</mat-icon>
</div>

<div class="outer">

    <mat-card *ngFor="let project of athletics" class="item" (click)="openDialog(project)">
        <mat-card-title>{{ project.title }}</mat-card-title>
        
        <div class="subtitle">
            <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
            <i>
                <mat-card-subtitle>{{ project.date }}</mat-card-subtitle>
            </i>
        </div>

        <img mat-card-image [src]="project.picture">
    </mat-card>
</div>