.header {
    padding: 20px 0 20px 20px;
    font-size: 20px;
    position: relative;

    .mat-divider {
        margin: 20px 0 0 0;
        width: 200px;
        height: 10px;
        background-color: lightcoral;
    }

    .title {
        font-size: 30px;
    }

    .header-image {
        position: absolute;
        top: -20px;
        left:-40px;
        font-size: 160px;
        z-index: -1;
        color: rgba($color: #9a9a9a, $alpha: 0.4)
    }
}
.outer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.item {
    width: 300px;
    overflow: hidden;
    margin: 10px;
    position: relative;

    img {
        height: 200px;
    }
}

.subtitle {
    display: flex;
    justify-content: space-between;
}

.story {
    text-overflow: ellipsis;
}

.fade {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, white);
}

.mat-hint {
    font-size: 12px;
}