<div class="black-body">
    <div class='section-title'>SKILLS</div>

    <div class="job-items">
        <div class="job-item">
            <h3>Languages</h3>
            <mat-chip-list>
                <mat-chip color="primary" selected>Python</mat-chip>
                <mat-chip color="primary" selected>TypeScript</mat-chip>
                <mat-chip color="primary" selected>Java</mat-chip>
                <mat-chip color="primary" selected>Swift</mat-chip>
                <mat-chip color="primary" selected>C++</mat-chip>
                <mat-chip color="primary" selected>Scala</mat-chip>
            </mat-chip-list>
        </div>
        <div class="job-item">
            <h3>Libraries / Frameworks</h3>
            <mat-chip-list>
                <mat-chip color="accent" selected>Angular</mat-chip>
                <mat-chip color="accent" selected>Node</mat-chip>
                <mat-chip color="accent" selected>Spark</mat-chip>
                <mat-chip color="accent" selected>NPM</mat-chip>
                <mat-chip color="accent" selected>TensorFlow</mat-chip>
                <mat-chip color="accent" selected>OpenCV</mat-chip>
            </mat-chip-list>
        </div>
        <div class="job-item">
            <h3>Tools</h3>
            <mat-chip-list>
                <mat-chip color="warn" selected>Git</mat-chip>
                <mat-chip color="warn" selected>Android / IOS SDK</mat-chip>
                <mat-chip color="warn" selected>GCP</mat-chip>
                <mat-chip color="warn" selected>AWS</mat-chip>
                <mat-chip color="warn" selected>Firebase</mat-chip>
                <mat-chip color="warn" selected>Docker</mat-chip>
            </mat-chip-list>
        </div>
    </div>
</div>

<div class="white-body">
    <div class='section-title'>WORK EXPERIENCE</div>

    <div class="job-items">
        <div *ngFor="let job of jobs" class="job-item">
            <img [src]='job.picture' class="gray-img" height="50px">

            <h3>{{ job.subtitle }}</h3>
            <div class="mat-small">{{ job.date }}</div>
        </div>
    </div>
</div>

<div class="black-body">
    <div class='section-title'>PROJECTS</div>

    <div class="job-items">
        <div *ngFor="let project of sideProjects" class="job-item">
            <img [src]='project.picture' height="100px">
            <h3>{{ project.title }}</h3>
            <div class="mat-small">{{ project.subtitle }}</div>
            <div class="mat-small">{{ project.date }}</div>
        </div>
    </div>
</div>

<div class="white-body">
    <div class="section-title">ATHLETICS</div>

    <div class="job-items">
        <div *ngFor="let athlete of athletics" class="job-item">
            <img [src]='athlete.picture' height="100px">
            <h3>{{ athlete.title }}</h3>
            <div class="mat-small">{{ athlete.subtitle }}</div>
            <div class="mat-small">{{ athlete.date }}</div>
        </div>
    </div>
</div>

<!-- <table>
    <tr>
        <th>Languages</th>
        <th>Libraries / Frameworks</th>
        <th>Tools</th>
    </tr>
    <tr>
        <td>
            <mat-chip-list>
                <mat-chip color="primary" selected>Python</mat-chip>
                <mat-chip color="primary" selected>TypeScript</mat-chip>
                <mat-chip color="primary" selected>Java</mat-chip>
                <mat-chip>Swift</mat-chip>
                <mat-chip>C++</mat-chip>
                <mat-chip>Scala</mat-chip>
            </mat-chip-list>
        </td>
        <td>
            <mat-chip-list>
                <mat-chip color="primary" selected>Angular</mat-chip>
                <mat-chip color="primary" selected>Node</mat-chip>
                <mat-chip color="primary" selected>Spark</mat-chip>
                <mat-chip>NPM</mat-chip>
                <mat-chip>TensorFlow</mat-chip>
                <mat-chip>OpenCV</mat-chip>
            </mat-chip-list>
        </td>
        <td>
            <mat-chip-list>
                <mat-chip color="primary" selected>Git</mat-chip>
                <mat-chip color="primary" selected>Android / IOS SDK</mat-chip>
                <mat-chip color="primary" selected>GCP</mat-chip>
                <mat-chip>AWS</mat-chip>
                <mat-chip>Firebase</mat-chip>
                <mat-chip>Docker</mat-chip>
            </mat-chip-list>
        </td>
    </tr>
</table> -->

<!-- <div class="header">
    <b class="title">Work Experiences </b>
    <mat-divider></mat-divider>
</div>
<table class="work-table">
    <tr>
        <td *ngFor="let job of jobs">
            <div>
                <h3 style="padding-top: 0%;">{{ job.title }}</h3>
                <h4 style="padding-top: 0%;">{{ job.subtitle }}</h4>
                <mat-card-content>
                    {{ job.story }}
                </mat-card-content>
            </div>
        </td>
    </tr>
</table>






<div class="header">
    <b class="title">Skills</b>
    <mat-divider></mat-divider>
</div>
<div class="outer-chips">
    <div class="chip-section">
        <h3 class="chip-title">Languages</h3>
        <mat-chip-list>
            <mat-chip color="primary" selected>Python</mat-chip>
            <mat-chip color="primary" selected>TypeScript</mat-chip>
            <mat-chip color="primary" selected>Java</mat-chip>
            <mat-chip>Swift</mat-chip>
            <mat-chip>C++</mat-chip>
            <mat-chip>Scala</mat-chip>
        </mat-chip-list>
    </div>
    <div class="chip-section">
        <h3 class="chip-title">Libraries / Frameworks</h3>
        <mat-chip-list>
            <mat-chip color="primary" selected>Angular</mat-chip>
            <mat-chip color="primary" selected>Node</mat-chip>
            <mat-chip color="primary" selected>Spark</mat-chip>
            <mat-chip>NPM</mat-chip>
            <mat-chip>TensorFlow</mat-chip>
            <mat-chip>OpenCV</mat-chip>
        </mat-chip-list>
    </div>
    <div class="chip-section">
        <h3 class="chip-title">Tools</h3>
        <mat-chip-list>
            <mat-chip color="primary" selected>Git</mat-chip>
            <mat-chip color="primary" selected>Android / IOS SDK</mat-chip>
            <mat-chip color="primary" selected>GCP</mat-chip>
            <mat-chip>AWS</mat-chip>
            <mat-chip>Firebase</mat-chip>
            <mat-chip>Docker</mat-chip>
        </mat-chip-list>
    </div>
</div>

<div class="header">
    <b class="title">Projects</b>
    <mat-divider></mat-divider>
</div>
<div class="outer">

    <mat-card *ngFor="let project of sideProjects" class="item" (click)="openDialog(project)">
        <mat-card-title>{{ project.title }}</mat-card-title>

        <img *ngIf="project.subtitle == 'EnactusHacks' || project.subtitle == 'UWEnergyHacks'" src='../../../assets/sideProjects/trophy.png' class="banner">
        
        <div class="subtitle">
            <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
            <i>
                <mat-card-subtitle>{{ project.date }}</mat-card-subtitle>
            </i>
        </div>

        <img mat-card-image [src]="project.picture">
    </mat-card>
</div>

<div class="header">
    <b class="title">Athletics</b>
    <mat-divider></mat-divider>
</div>

<div class="outer">

    <mat-card *ngFor="let project of athletics" class="item" (click)="openDialog(project)">
        <mat-card-title>{{ project.title }}</mat-card-title>
        
        <div class="subtitle">
            <mat-card-subtitle>{{ project.subtitle }}</mat-card-subtitle>
            <i>
                <mat-card-subtitle>{{ project.date }}</mat-card-subtitle>
            </i>
        </div>

        <img mat-card-image [src]="project.picture">
    </mat-card>
</div> -->