.mat-toolbar {
    padding: 0;
    background-color: white;
    
    ::ng-deep.mat-toolbar-row {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
}

.content {
    height: 324px;
    overflow-y: auto;
    height: fit-content;
}
img {
    width: 452px;
}

.details {
    font-size: 12px;
    color: grey;
}

