.outer {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    height: 100%;
    padding: auto;
    vertical-align: middle;
}
#canvas {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: lightgrey;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
}
.mat-toolbar {
    height: fit-content;
    justify-content: space-between;
    margin: 2%;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1em;
}
.form-options {
    text-align: center;
    margin: auto 10px;
}